{% extends 'homepage.html' %}
{% block content %}
<div class="card card-body">
    <div class="row">
        <div class="container col" style="background-color:ghostwhite">
            <center><h2 class='display-4'><u><b>Top Exams</b></u></h2></center>
            {% for t in topexams %}
            <div class="list-group">
                <a href="{% url 'examdetailspage' t.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">{{t.Name}}</h3>
                        <small>{{t.Date}}</small>
                    </div>
                    <p class="mb-1">
                        {{t.Exam_Description}}<br>
                        Fees:{{t.Exam_fees}}
                    </p>
                    <small>click to view in details</small>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}